@import "../../../../../assets/scss/_config";

.popular-product-container {
  padding: 60px 0px;
}
.popular-product-content h1 {
  font-size: 50px;
  font-weight: 800;
  color: $theme_primary_color;
  margin-bottom: 20px;
}
.popular-product-content .splide_item {
  width: 100%;
  height: auto;
}
.popular-product-content .splide_item .img-container img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.popular-product-content .splide_item a {
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 15px;
  width: 95%;
  line-height: 1.5rem;
  text-decoration: none;
  color: #000;
}
.popular-product-content .splide_item a:hover {
  color: $theme_primary_color;
}
.popular-product-content .splide_item button {
  padding: 10px 20px;
  color: $theme_primary_color;
  background-color: #fff;
  border: 1px solid $theme_primary_color;
  border-radius: 30px;
  font-weight: 800;
  cursor: pointer;
  width: 60%;
}
.popular-product-content .splide_item button:hover {
  background-color: $theme_primary_color;
  color: #fff;
  cursor: pointer;
}
.popular-product-content .splide_item .review-container {
  margin-bottom: 20px;
  justify-content: space-between;
}
.popular-product-content .splide_item .review-container .star .star-img {
  fill: $theme_primary_color;
  cursor: pointer;
  margin-right: 8px;
}
.popular-product-content .splide_item .review-container p {
  font-size: 12px;
  color: gray;
}
