@import "../../../../../assets/scss/_config";
.instragram-iframe-container {
  padding: 60px 0px;
}
.iframe-content h1 {
  font-size: 50px;
  letter-spacing: -1px;
  line-height: 1.12;
  font-weight: 800;
  color: $theme_primary_color;
  margin-bottom: 30px;
}
